<?xml version="1.0"?>
<launch>
    <!-- declare arg to be passed in -->
    <arg name="me" default="ally1" />
    <arg name="ally" default="ally2" />
    <arg name="robot_number" default="1" />
    <!-- <arg name="sim_mode" default="false" /> -->
    <arg name="team_side" default="home" />
    <arg name="vel_cmds_remap" default="vel_cmds" />

    <!-- using which side of the field we are on, determine the appropriate -->
    <!-- connections to the output of the vision system -->
    <arg name="other_side" value="away" if="$(eval team_side == 'home')" />
    <arg name="other_side" value="home" if="$(eval team_side == 'away')" />

    <!-- Hardware agnostic code -->
    <node name="ally1_estimator" pkg="slash_dash_bang_hash" type="Estimator" output="screen">
      <remap from="vision_data" to="/vision/$(arg team_side)1" />
      <remap from="state" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/ally1_state" />
      <param name="team" value="$(arg team_side)" />
    </node>
    <node name="ally2_estimator" pkg="slash_dash_bang_hash" type="Estimator" output="screen">
      <remap from="vision_data" to="/vision/$(arg team_side)2" />
      <remap from="state" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/ally2_state" />
      <param name="team" value="$(arg team_side)" />
    </node>
    <node name="opp1_estimator" pkg="slash_dash_bang_hash" type="Estimator" output="screen">
      <remap from="vision_data" to="/vision/$(arg other_side)1" />
      <remap from="state" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/opp1_state" />
      <param name="team" value="$(arg team_side)" />
    </node>
    <node name="opp2_estimator" pkg="slash_dash_bang_hash" type="Estimator" output="screen">
      <remap from="vision_data" to="/vision/$(arg other_side)2" />
      <remap from="state" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/opp2_state" />
      <param name="team" value="$(arg team_side)" />
    </node>
    <node name="ball_estimator" pkg="slash_dash_bang_hash" type="Estimator" output="screen">
      <remap from="vision_data" to="/vision/ball" />
      <remap from="state" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/ball_state" />
      <param name="team" value="$(arg team_side)" />
    </node>


    <node name="AI" pkg="slash_dash_bang_hash" type="AI" output="screen">
      <param name="robot_number" value="$(arg robot_number)" />
    </node>
    <node name="path_planner" pkg="slash_dash_bang_hash" type="PathPlanner" output="screen">
      <remap from="destination" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/$(arg me)_destination" />
      <remap from="desired_pose" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/$(arg me)_desired_pose" />
      <param name="robot_number" value="$(arg robot_number)" />
    </node>
    <node name="controller" pkg="slash_dash_bang_hash" type="Controller" output="screen">
        <!-- The controller needs to know which robot state to listen to -->
        <remap from="robot_state" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/$(arg me)_state" />
        <remap from="desired_pose" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/$(arg me)_desired_pose" />
        <remap from="vel_command" to="/$(arg team_side)$(arg robot_number)/command" />

        <param name="x_P" value="6.0"/>
        <param name="x_I" value="0.0"/>
        <param name="x_D" value="0.0"/>
        <param name="y_P" value="6.0"/>
        <param name="y_I" value="0.0"/>
        <param name="y_D" value="0.0"/>


        <param name="theta_P" value="6.0"/>
        <param name="theta_I" value="0.0"/>
        <param name="theta_D" value="0.0"/>

        <param name="max_omega" value="180.0"/>
    </node>

</launch>
