<?xml version="1.0"?>
<launch>
  <arg name="me" default="ally1" />
  <arg name="team_side" default="home" />

  <arg name="home1_color" default="purple" />
  <arg name="home2_color" default="blue" />
  <arg name="away1_color" default="red" />
  <arg name="away2_color" default="yellow" />


    <!-- Hardware agnostic code -->
    <node name="slash_vision" pkg="slash_dash_bang_hash" type="Vision" output="screen">
      <remap from="destination" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/$(arg me)_destination" />
      <remap from="desired_pose" to="/slash_dash_bang_hash_$(arg team_side)/$(arg me)/$(arg me)_desired_pose" />
      <remap from="/slash_vision/home1" to="/slash_vision/home1" />
      <remap from="/slash_vision/home2" to="/slash_vision/home2" />
      <remap from="/slash_vision/away1" to="/slash_vision/away1" />
      <remap from="/slash_vision/away2" to="/slash_vision/away2" />
      <remap from="/slash_vision/ball_stamped" to="/slash_vision/ball" />

      <param name="home1_color" value="$(arg home1_color)" />
      <param name="home2_color" value="$(arg home2_color)" />
      <param name="away1_color" value="$(arg away1_color)" />
      <param name="away2_color" value="$(arg away2_color)" />
    </node>


</launch>
